<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View Todo -  {{ todoitem.status }}</title>
    <link rel = "stylesheet" type = "text/css" href="/static/todo/main.css" />
</head>
<body>
    <h1>Currennt Revision</h1>
    <form action="{% url 'todo:edittodo' todoitem.id %}" method = "POST">
        {% csrf_token %}
        <label>Status</label> <input type = "text" name = "status" value = {{ todoitem.status }} /> <br/>
        <label>Description</label> <input type = "text" name = "des" value = {{ todoitem.des }} /> <br/>
        <label>Due date</label> <input type = "datetime-local" name = "due_date" value = {{ html5date }} /> <br/>
        <label>Date Created: {{ todoitem.date_created }}</label> <br />
        <input type = "submit" value = "Submit Changes" />
    </form>

    <h1>Revision History</h1>
    <table>
    <tr>
        <th>Status</th>
        <th>Description</th>
        <th>Date/time Created</th>
        <th>Date Due</th>
    </tr>
    {% for to in past_revs %}
        <tr>
            <td>{{ to.status }}</td>
            <td>{{ to.des }}</td>
            <td>{{ to.date_created }}</td>
            <td>{{ to.due_date }}</td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>