<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Items</title>

    <link rel = "stylesheet" type = "text/css" href="/static/todo/main.css" />

</head>
<body>

<form action="{% url 'todo:newtodo' %}" method="POST">
{% csrf_token %}
<table>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date/time Created</th>
    <th>Date Due</th>
    <th>Actions</th>
</tr>
{% for to in current_todos %}
    <tr>
        <td>{{ to.name }}</td>
        <td>{{ to.des }}</td>
        <td>{{ to.date_created }}</td>
        <td>{{ to.due_date }}</td>
        <td><a href = {% url 'todo:detail' to.id %}>View</a> </td>
    </tr>
{% endfor %}
    <tr style = "background-color: aqua;" class = editing>
        <td><input type = "text" name = "name" /></td>
        <td><input type = "text" name = "des" /></td>
        <td>NOW</td>
        <td><input type = "text" name = "due_date" /></td>
        <td><input type = "submit" value = "create"></td>
    </tr>
</table>
</form>

</body>
</html>